
#my_sidebar .navbar-brand img {
    width: 200px;
    height: auto;
  }

.dataTables_wrapper .dataTable thead {
    background-color: #4C78A8;
    color: white;           
  }
  .jstree-icon.jstree-themeicon {
    display: none !important;
  }
 
